:root{
    --lightBlue: #8BBEFF;
    --darkBlue: #2A407D;
    --purple: #B578C1;
    --pink: #ECC3DD;
    --grey: #5A6B88;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/* Universal Styles */

h1 {
    font-size: 5rem;
    color: white;
}

h2 {
    font-size: 4.5rem;
    color: white;
}

h3 {
    font-size: 4rem;
    color: white;
}

p {
    font-size: 3rem;
}

li {
    font-size:2rem;
}

.button1 {
    background-color: var(--grey);
    width: 20rem;
    padding: 2rem;
    color: white;
    font-size: 2.5rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.button2 {
    background-color: var(--darkBlue);
    width: 20rem;
    padding: 2rem;
    color: white;
    font-size: 2.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/* Header */
.header{
    background-color: var(--darkBlue);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 4rem;
    margin-left: 3rem;
    

}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
    position: fixed;
    overflow: hidden;
    top: 8rem;
    padding: 0rem 6rem;
}

.menu a{
    display: block;
    color: var(--lightBlue);
    font-size: 2rem;
    padding: 2rem 5rem;
}

.menu a:hover{
    background-color: white;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 4rem 2rem;
}


.hamb-line {
    background: var(--lightBlue);
    display: block;
    height: .2rem;
    position: relative;
    width: 2.4rem;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--lightBlue);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: .5rem;
}

.hamb-line::after{
    top: -.5rem;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Hero Banner */
#hero {
    background: url("/images/heroBG.png") no-repeat;
    background-size:cover;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}

.heroName h1 {
    display: inline;
}

.headerTag {
    color: var(--lightBlue);
    font-size: 2.75rem;
}

.breakTag {
    color: var(--pink);
    font-size: 2.5rem;
}

.heroAbout h3 {
    display: inline;
}

.heroSchool h3 {
    display:inline;
}

.heroSocials img {
    width: 5rem;
    padding: .5rem;
}

.heroPhoto {
    width: 40rem;
    margin-left: 20rem;
}

#divider {
    background-color: var(--darkBlue);
    width: 100%;
    height: 3rem;
}

/* Responsiveness for NavBar */

@media (min-width: 768px) {
    .nav{
        max-height: 100%;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: white;
        
    }
    
    .hamb{
        display: none;
    }

}

/* Introduction Block */
.introText {
    text-align: center;
    padding: 3rem;
}

.introText h2 {
    display: inline;
}

.introHeader {
    color:black;
}

#introduction p {
    padding: 1rem 10rem;
}

/* Recent Projects */
#recentProjectsTitle .titleBlock {
    color: white;
    padding: 2rem 3rem;
    background-color: var(--purple);
    width: 25rem;
    text-align: center;
    font-size: 2.5rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

#recentProjectsTitle {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

#recentProjects img {
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#recentProjects h3 {
    color: var(--purple);
    margin-left: 4rem;
    margin-bottom: 0rem;
}

#recentProjects p {
    margin-left: 4rem;
}

/* Learn More */
.learn {
    padding: 8rem;
}

.learnBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learnBtn button {
    margin: 5rem 6rem;
}

/*Contact Form*/
.contactTitle {
    background: url(/images/heroBG.png);
    padding: 10rem 4rem;
    text-align: center;
    display:flex;
    justify-content: center;
}

.contactText h1{
    display: inline;
    font-weight: bold;
}

.contactText h2 {
    display:inline;
    color: black;
}

.container .contactText .headerTag{
    color: var(--purple);
}

.contactText .headerTag {
    color: var(--darkBlue);
}

.container .contactText {
    text-align: center;
    padding: 5rem;
}

.contactBG {
    background-color: rgba(210, 210, 210, 0.68);
    padding: 5rem 8rem;
    width: 75rem;
}

.container .button2 {
    font-size: 2rem;
    padding: 1rem;
    float:right;
    margin: 4rem 0rem;
}

.container .button2:hover {
    color: var(--lightBlue);
}

input:focus {
    border-color: var(--lightBlue);
}

/* About Me */
.titleText {
    text-align: center;
    padding: 5rem 0rem;
}

.titleText h1{
    display: inline;
}

.titleText .centerText {
    color:black;
}

.aboutImg img{
    width: 50rem;
}

.aboutText .info p {
    display:inline;
}

.infoTitle {
    color: var(--purple);
    font-weight: bold;
}

.info {
    padding: 3rem;
}

.aboutBlock {
    display: flex;
    gap: 10rem;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
}

.aboutBody {
    padding: 2rem 15rem;
}

/* Skill Bar*/

.skill {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.java {
    width: 50%;
    animation: java 3s;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

.python {
    width: 40%;
    animation: python 3s;
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.c {
    width: 60%;
    animation: c 3s;
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.html {
    width: 75%;
    animation: html 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.css {
    width: 70%;
    animation: css 3s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/* Footer */
footer {
    background-color: var(--darkBlue);
    padding: 1.5rem;
}

footer img {
    width: 6rem;
    margin: 0rem 1.5rem;
}

/* Mobile View */
@media screen and (max-width:600px) {
    /* Universal Styles */
    h1 {
        font-size: 2rem;
        color: white;
    }
    
    h2 {
        font-size: 1.75rem;
        color: white;
    }
    
    h3 {
        font-size: 1.5rem;
        color: white;
    }

    p {
        font-size: 1rem;
    }

    .button1 {
        background-color: var(--grey);
        width: 20rem;
        padding: 2rem;
        color: white;
        font-size: 2.5rem;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    
    .button2 {
        background-color: var(--darkBlue);
        width: 20rem;
        padding: 2rem;
        color: white;
        font-size: 2.5rem;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    /* Navigation Bar */
    .header {
        padding: 0;
        margin: 0;
    }

    .menu a{
        display: block;
        padding: 1rem 5rem;
        color: white;
        font-size: 2rem;
    }

    /* Hero Banner */
    #hero 
    {
        height: 15rem;
        width: 100%;
        padding: 1rem;
        margin-top: -10rem;
    }
    .heroPhoto
    {
        width: 9rem;
        margin-left: .2rem;
    }
    
    .heroName h1,
    .heroAbout h3,
    .heroSchool h3 {
        display: inline;
    }
    
    .headerTag {
        color: var(--lightBlue);
        font-size: 1rem;
    }
    
    .breakTag {
        color: var(--pink);
        font-size: .5rem;
    }
    
    .heroSocials img {
        width: 3rem;
        padding: .5rem;
    }
    
    #divider {
        background-color: var(--darkBlue);
        height: 2rem;
        width: 100%;
        overflow:hidden;
    }

    /* Introduction Block */
    .introText {
        padding: 1.5rem;
    }

    #introduction p {
        padding: 0rem 5rem;
    }

    /* Recent Projects */
    #recentProjects img {
        width: 20rem;
    }

    #recentProjectsTitle .titleBlock {
        color: white;
        padding: 1rem 2rem;
        background-color: var(--purple);
        width: 15rem;
        text-align: center;
        font-size: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }
    
    #recentProjectsTitle {
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    /*Learn More*/
    .learn {
        padding: 2rem;
    }
    
    .learnBtn button {
        margin: 2rem 1rem;
        font-size: 1.5rem;
        width: 15rem;
    }

    /*Contact Form*/
    .contactTitle {
    padding: 3rem 2rem;
    }

    .contactText h1{
    font-size: 2.2rem;
    }

    .contactText h2 {
    font-size: 1.8rem;
    }

    .container .button2 {
        font-size: 1.5rem;
        padding: .5rem;
        margin: 2rem 0rem;
    }

    /*Footer*/
    footer {
        background-color: var(--darkBlue);
        padding: 1rem;
    }
    
    footer img {
        width: 3rem;
        margin: 0rem 1rem;
    }

}